/**
********************************************************************************
Projeto Seniores Digitais - Labora/Alura/Oracle ONE
Aluna: Rosemeire Deconti
Desafio - https://github.com/enextgroup/quero-trabalhar-na-enext
Data: Dezembro/2020
********************************************************************************
**/
/* ------------------------------------------------------------------ Classes */
.footer-anchor-1{
	background-color: #E6E6E6;
  color: #D73A1E;
  font-size: 15px;
  text-transform: uppercase;
	width: auto;
	padding: 2px;
	line-height: 30px;
  text-decoration: none;
  cursor: pointer;
}

.footer-data-1 {
	background-color: #E6E6E6;
  color: #D73A1E;
  font-size: 15px;
  text-transform: uppercase;
	width: auto;
	padding: 30px;
}

.footer-data-2 {
	width: auto;
	text-align: center;
	margin: 0 auto;
	background: url("../images/footerBackground.jpg");
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer-paragraph-1{
	color: #666A72;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	text-align: left;
	margin-top: 5px;
	margin-left: 5px;
  text-transform: capitalize;
}

.footer-paragraph-2{
	color: #FFFFFF;
	font-size: 50px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
  text-transform: uppercase;
}

.footer-unordered-list-00{
  width: auto;
	padding: 20px;
	background-color: #E6E6E6;
}

.footer-unordered-list-00 li{
  display: inline-block;
	width: 48%;
}

.footer-unordered-list-01{
  width: auto;
	padding: 10px;
}

.footer-unordered-list-01 li{
  display: inline;
	width: 10%;
}

.footer-unordered-list-02{
  width: auto;
	padding: 10px;
}

.footer-unordered-list-02 li{
	display: inline-block;
	width: 20%
}

.footer-unordered-list-02 li:hover {
  font-weight: bold;
}

.footer-unordered-list-02 li:active {
  font-weight: bold;
}

.footer-unordered-list-03{
  background-color: #E6E6E6;
  color: #D73A1E;
  font-size: 20px;
  text-transform: uppercase;
  width: auto;
	margin: 0 auto;
	padding: 10px;
}

.footer-unordered-list-03 li{
	display: inline-block;
	width: 10%
}

.footer-unordered-list-03 li:hover {
  font-weight: bold;
}

.footer-unordered-list-03 li:active {
  font-weight: bold;
}

/** ------------------------------------------------------------ Media Query **/
