/**
********************************************************************************
Projeto Seniores Digitais - Labora/Alura/Oracle ONE
Aluna: Rosemeire Deconti
Desafio - https://github.com/enextgroup/quero-trabalhar-na-enext
Data: Dezembro/2020
********************************************************************************
**/
/** ---------------------------------------------------------------- Classes **/
.header-02-anchor-01{
  background-color: #523468;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.header-02-section-01{
  background-color: #523468;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.header-02-unordered-list-01{
  background-color: #523468;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  width: auto;
	margin: 0 auto;
	padding: 30px;
}

.header-02-unordered-list-01 li{
  background-color: #523468;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  display: inline-block;
	text-align: center;
	width: 12%;
	vertical-align: top;
}

.header-02-dropdown {
  float: left;
  overflow: hidden;
}

.header-02-dropdown .header-02-dropbtn {
  background-color: #523468;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  border: none;
  outline: none;
  padding: 14px 16px;
  margin: 0;
}

.header-02-dropdown:hover .header-02-dropbtn {
  background-color: #523468;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
}

.header-02-dropdown-content {
  background-color: #523468;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.header-02-dropdown-content a {
  background-color: #523468;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header-02-dropdown-content a:hover {
  background-color: #523468;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
}

.header-02-dropdown:hover .header-02-dropdown-content {
  display: block;
  background-color: #523468;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
}

/** ------------------------------------------------------------ Media Query **/
@media screen and (max-width: 600px) {
  .header-02-topnav a:not(:first-child) {display: none;}
  .header-02-topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .header-02-topnav.responsive {position: relative;}
  .header-02-topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header-02-topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
