/**
********************************************************************************
Projeto Seniores Digitais - Labora/Alura/Oracle ONE
Aluna: Rosemeire Deconti
Desafio - https://github.com/enextgroup/quero-trabalhar-na-enext
Data: Dezembro/2020
********************************************************************************
**/
/** ---------------------------------------------------------------- Classes **/
.header-01-basket-image{
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  vertical-align:text-bottom;
}

.header-01-basket-number{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #D73A1E;
}

.header-01-basket-text{
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  color: #B3B3B3;
}

.header-01-button-search{
  border: none;
  background-color: #FFFFFF;
}

.header-01-search-container{
  width: 100%;
  text-align: left;
  margin-left: 10px;
  padding: 10px;
  box-sizing: border-box;
	border: 1px solid #000000;
	border-radius: 10px;
}

.header-01-search-input{
  width: 60%;
  font-size: 20px;
  text-transform: lowercase;
  color: #D8402C;
  border: none;
}

.header-01-section-01{
  width: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}

.header-01-h1-01{
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #D9482E;
}

.header-01-h2-01{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: lowercase;
  text-decoration: none;
  cursor: pointer;
  color: #513368;
}

.header-01-h2-02{
  width: 4px;
  height: 1px;
  text-decoration: none;
  cursor: pointer;
  color: #D2D2D2;
}

.header-01-p1-01{
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  text-transform: lowercase;
  text-decoration: none;
  cursor: pointer;
  color: #D8402C;
}

.header-01-p1-02{
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  color: #D8402C;
}

.header-01-p1-03{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: lowercase;
  text-decoration: none;
  cursor: pointer;
  color: #D8402C;
}

.header-01-unordered-list-01{
  width: auto;
	margin: 0 auto;
	padding: 20px;
  vertical-align: top;
  margin-top: 0px;
}

.header-01-unordered-list-01 li{
  display: inline-block;
	width: 20%;
}

/** ------------------------------------------------------------ Media Query **/
