/**
********************************************************************************
Projeto Seniores Digitais - Labora/Alura/Oracle ONE
Aluna: Rosemeire Deconti
Desafio - https://github.com/enextgroup/quero-trabalhar-na-enext
Data: Dezembro/2020
********************************************************************************
**/
/** ------------------------------------------------------------------- Tags **/
body {
  font-family: 'Oswald', sans-serif;
}


header {
  font-family: 'Oswald', sans-serif;
}


main {
  font-family: 'Oswald', sans-serif;
}


footer {
  font-family: 'Oswald', sans-serif;
}

/** ------------------------------------------------------------ Media Query **/
