/**
		****************************************************************************
	    Projeto Labora/Alura/Oracle ONE
	    Curso Alura: Projeto de Conclusão Formação 1 e Formação 2
	    Aluna: Rosemeire Deconti
	    Exercício: Página WEB Conferência Alura
	    Data: Novembro/2020
		****************************************************************************
**/

/* ------------------------------------------------------------------ Classes */
.baseContainer{
	font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: yellow;
}

.baseHeader{
	font-size: 40px;
	font-weight: bold;
	color: white;
}

.baseGoTop{
  font-size: 10px;
  font-weight: bold;
	color: #FFFFFF;
  cursor: pointer;
}

.baseGlyphicon{
	color: #FFFFFF;
  font-size: 40px;
}

.baseMessage {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	background-color: #FF0000;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	display: none;
}












.baseParagraphWhite{
  font-size: 20px;
  text-align: center;
  color: white;
  margin: 10px;
}

.baseParagraphBlack{
  font-size: 20px;
  text-align: center;
  color: black;
  margin: 10px;
}

.baseTextAlign{
  text-align: center;
}

.baseTitleWhite{
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 10px;
}

.baseTitleBlack{
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin: 10px;
}
