/**
		****************************************************************************
	    Projeto Labora/Alura/Oracle ONE
	    Curso Alura: Projeto de Conclusão Formação 1 e Formação 2
	    Aluna: Rosemeire Deconti
	    Exercício: Página WEB Conferência Alura
	    Data: Novembro/2020
		****************************************************************************
**/

/* ------------------------------------------------------------------ Classes */
.footerData {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background: url("../images/footerBackground.jpg");
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footerParagraph{
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 40px;
	margin: 0 auto;
	text-align: center;
}
