/**
    Projeto Labora/Alura/Oracle ONE
    Aluna: Rosemeire Deconti
    Desafio - Front-End Developer
    Data: Dezembro/2020
**/

/* ------------------------------------------------------------------ Classes */
.headerLine1{
	width: auto;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
  background-color: #F3D546;
}

.headerLine1 li{
	display: inline-block;
	width: 32%;
}

.headerLine2 {
	width: auto;
	margin: 0 auto;
	text-align: center;
  text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 20px;
  background-color: #F3D546;
}

.headerLine2 li{
	display: inline-block;
	width: 20%;
}

.headerLine2 li:hover{
	box-sizing: content-box;
	border: none;
	border-radius: 15px;
	padding: 5px;
  background-color: #FFA500;
}

.headerLine2 li:active{
	box-sizing: content-box;
	border: none;
	border-radius: 15px;
	padding: 5px;
  background-color: #FFA501;
}

.headerLink, a:link, a:visited {
  text-decoration: none;
}
