
/*
****************************************************************************
Project Labora/Alura/Oracle ONE
Training Alura: Programming, HTML5, CSS3 e JAVASCRIPT
Student: Rosemeire Deconti
Description: Create a page with news
Challenge: https://github.com/Infoglobo/desafio-front-end
Date: November/2020
****************************************************************************
*/

.contactContainer {
  display: flex;
  flex-direction: row;
	justify-content: center;
  background-color: yellow;
}

.contactContainerAddress{
	background-color: white;
	width: 50%;
}

.contactContainerContents{
	width: auto;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 15%;
	margin-bottom: 15%;
}

.contactContainerEmail{
	background-color: #ae0000;
	width: 50%;
}

.contactAddressTitle1 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	font-size: 25px;
	color: black;
}

.contactAddressTitle2 {
	font-weight: bold;
	text-align: left;
	font-size: 20px;
	color: black;
}

.contactFormInput {
	display: block;
	padding: 10px;
	width: 95%;
}

.contactFormTitle {
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	font-size: 25px;
	color: white;
}

.contactFormLabel{
	font-size: 20px;
	font-weight: bold;
	padding: 0px;
	color: white;
}

.contactFormSend {
	width:auto;
	padding: 10px;
	float:right;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 1s all;
	cursor: pointer;
}

.contactFormSend:hover {
	background: darkorange;
	transform: scale(1.2);
}

.contactSection{
	width: auto;
  background-color: gray;
}
