/*
****************************************************************************
Project Labora/Alura/Oracle ONE
Training Alura: Programming, HTML5, CSS3 e JAVASCRIPT
Student: Rosemeire Deconti
Description: Create a page with news
Challenge: https://github.com/Infoglobo/desafio-front-end
Date: November/2020
****************************************************************************
*/

footer{
	width: auto;
	height: 60px;
	background-color: black;
}

.copyright {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	margin-left: 20px;
	padding: 15px;
}
