/*
****************************************************************************
Project Labora/Alura/Oracle ONE
Training Alura: Programming, HTML5, CSS3 e JAVASCRIPT
Student: Rosemeire Deconti
Description: Create a page with news
Challenge: https://github.com/Infoglobo/desafio-front-end
Date: November/2020
****************************************************************************
*/

.headerLogo{
	padding: 10px;
	margin-left: 200px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.headerSection{
	width: auto;
  background-color: white;
	margin: 0 auto;
}

.headerTopnav {
	font-weight: bold;
	font-size: 20px;
  position: absolute;
  list-style-type: none;
  padding: 10px;
  top: 50px;
	right: 200px;
}

.headerTopnav li {
	float: left;}

.headerTopnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.headerTopnav li:hover a:not(.active) {
  background-color: white;
  color: black;
}

.headerTopnav li a.active {
	background-color: white;
  color: black;
}

.headerTopnav li.right {
	float: right;
}

.headerTopnav .dropdown-content {
  display: none;
  position: absolute;
}

.headerTopnav .dropdown-content a {
  color: black;
}

.headerTopnav .dropdown:hover > .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px){
    .topnav,
    .topnav {position: unset}
    .topnav li.right,
    .topnav li {float: none;}
}
