/*
****************************************************************************
Project Labora/Alura/Oracle ONE
Training Alura: Programming, HTML5, CSS3 e JAVASCRIPT
Student: Rosemeire Deconti
Description: Create a page with news
Challenge: https://github.com/Infoglobo/desafio-front-end
Date: November/2020
****************************************************************************
*/

.selectionSection{
	width: auto;
	margin-top: 120px;
  background-color: white;
}

.selectionContainer {
  display: flex;
  flex-direction: row;
	justify-content: center;
}

.selectionContainerTitle{
	width:9%;
}

.selectionContainerOrder{
	width:9%;
}

.selectionContainerFilter{
	width:9%;
}

.selectionTitle01 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	color: black;
}

.selectionTitle02 {
	font-size: 18px;
	color: black;
	text-align: center;
	margin-top: 2px;
}

.selectionSelect{
	width: 100%;
	height: 100%;
	background-color: black;
	font-weight: bold;
	color: white;
}
