/**
		****************************************************************************
	    Projeto Labora/Alura/Oracle ONE
	    Curso Alura: Projeto de Conclusão Formação 1 e Formação 2
	    Aluna: Rosemeire Deconti
	    Exercício: Página WEB Conferência Alura
	    Data: Novembro/2020
		****************************************************************************
**/

/* ------------------------------------------------------------------ Classes */
.baseButtons{
  display: inline-block;
  margin: 15px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  background-color: #B0B7C8;
}

.baseButtons:hover{
  background-color: #48A2A6;
  transition: background-color 0.8s;
}

.baseContainer {
  width: 100%;
  margin: 0 auto;
}

.baseGradientGray {
  width: 100%;
  margin: 0 auto;
  text-align: center;
	background: linear-gradient(#FEFEFE, #888888);
  padding: 10px;
}

.baseGradientRed {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: red;
	background: linear-gradient(#FEFEFE, #FF0000);
  padding: 10px;
}

.baseGoTop{
  font-size: 10px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

.baseMapsContents {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.baseParagraphWhite{
  font-size: 20px;
  text-align: center;
  color: white;
  margin: 10px;
}

.baseParagraphBlack{
  font-size: 20px;
  text-align: center;
  color: black;
  margin: 10px;
}

.baseTextAlign{
  text-align: center;
}

.baseTitleWhite{
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 10px;
}

.baseTitleBlack{
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin: 10px;
}

.baseVideoContents {
	width: 80%;
  height: 100%;
	margin: 0 auto;
}
