/**
		****************************************************************************
	    Projeto Labora/Alura/Oracle ONE
	    Curso Alura: Projeto de Conclusão Formação 1 e Formação 2
	    Aluna: Rosemeire Deconti
	    Exercício: Página WEB Conferência Alura
	    Data: Novembro/2020
		****************************************************************************
**/

/** ---------------------------------------------------------------- Classes **/
.headerClass {
  background: url('../images/destaque.jpeg') no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

.headerTitleConference{
  font-size: 5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 4px 4px 10px black;
  padding: 10px;
  margin: 10px;
  color: #FFFFFF;
}

.headerTitleWhere{
  font-size: 4.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 4px 4px 10px black;
  padding: 10px;
  margin: 10px;
  color: #65FF65;
}

/** ------------------------------------------------------------ Media Query **/
@media(max-width: 650px) {

  .headerTitleConference {
		font-size: 30px;
	}

  .headerTitleWhere {
    font-size: 25px;
  }

}
