/**
		****************************************************************************
	    Projeto Labora/Alura/Oracle ONE
	    Curso Alura: Projeto de Conclusão Formação 1 e Formação 2
	    Aluna: Rosemeire Deconti
	    Exercício: Página WEB Conferência Alura
	    Data: Novembro/2020
		****************************************************************************
**/

/* --------------------------------------------------------------------- Tags */
body {
	  width: 100%;
		font-family: 'Noto Sans JP', sans-serif;
}

main {
  width: 100%;
  text-align: center;
}
