/*
Projeto Labora/Alura/Oracle ONE
Projeto: Criar website para a empresa MusicDot (portal de cursos de música online) - exemplo: https://www.musicdot.com.br/
Aluna: Rosemeire Deconti
Data: Novembro/2020
*/

/* ------------------------------------------------------------------------- -*/
/* folha de estilo em cascata para todo o projeto
/* ordenado por: classes, ids e tags (dentro de cada seção classificado por ordem alfabética */
/* ------------------------------------------------------------------------- -*/


/* ------------------------------------------------------------------ classes */
.botao-001 {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 30px;
  margin: 15px;
  text-align: center;
  text-decoration-color: black;
  text-decoration:none;
  display: inline-block;
  font-size: 24px;
}

.botao-001:hover {
	background-color:#5cbf2a;
}

.botao-001:active {
	position:relative;
	top:1px;
}

.cabecalho-003{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  color: white;
	padding: 2px;
}

.cabecalho-004{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 2.5;
  font-weight: bold;
  color: white;
	padding: 2px;
  text-decoration: none;
  text-align: center;
}

.cabecalho-005{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 2.5;
  font-weight: bold;
  color: black;
	padding: 2px;
  text-decoration: none;
  text-align: center;
}

.divisao-001{

}

.link-001{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  color: white;
	padding: 10px;
  text-decoration: none;

}

.lista-001{
  display: inline-block;
}

.paragrafo-001{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  color: white;
	padding: 2px;
}

.paragrafo-002{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: bolder;
  color: red;
	padding: 10px;
}

.paragrafo-003{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  color: white;
	padding: 10px;
}

.paragrafo-004{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight:lighter;
  color: white;
	padding: 10px;
}

.paragrafo-005{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  color: black;
	padding: 10px;
}

.paragrafo-006{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight:lighter;
  color: black;
	padding: 10px;
}

.paragrafo-007{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 2opx;
  font-weight: bold;
  color: white;
	padding: 10px;
}

.span-001{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  color: white;
	padding: 2px;
}

.secao-001{
  background-image:url('../img/home-background.png');
  background-size:contain;
  width: 100%;
}

.secao-002{
  background-image:url('../img/video-principal-mobile.png');
  background-size:cover;
  width: 100%;
}

.secao-003{
  background-image:url('../img/planos-background.png');
  background-size:cover;
  width: 100%;
}

.secao-004{
  background-image:url('../img/planos-background.png');
  background-size:cover;
  width: 100%;
}

.secao-005{
  background-color: blue;
  width: 100%;
}

.secao-006{
  background-color: yellow;
  width: 100%;
}

.secao-007{
  background-color: blue;
  width: 100%;
}

.secao-008{
  background-color: yellow;
  width: 100%;
}

.secao-009{
  background-color: #000000; /* preto */
  width: 100%;
}

.secao-010{
  background-color: #0000FF; /* azul magenta */
  width: 100%;
}

.secao-011{
  background-color: #FC0FC0; /* rosa choque*/
  width: 100%;
}

.tabela-horizontal{
  display: inline-block;
	vertical-align: top;
	width: 25%;
  padding: 20px;
  margin-left: 5%;
}

.tabela-horizontal-001{
  display: inline-block;
	text-align: center;
	width: 20%;
	vertical-align: top;
	margin: 10 1.5%;
	padding: 15px 15px;
	box-sizing: border-box;
	border: 3px solid #FFFFFF;
	border-radius: 10px;
  width: 200px;
  height: 180px;
  margin-left: 5%;
}

.tabela-horizontal-002{
  background-color: #FFA500;
  display: inline-block;
	text-align: center;
	width: 15%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 15px 15px;
	box-sizing: border-box;
	border: 3px solid #FFFFFF;
	border-radius: 10px;
  width: 400px;
  height: 500px;
  margin-left: 15%;
}

.tabela-horizontal-003{
  display: inline-block;
	text-align: center;
	width: 15%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 15px 15px;
  box-sizing: border-box;
	border: 3px solid #FFFFFF;
	border-radius: 10px;
  width: 300px;
  height: 400px;
  margin-left: 3%;
}

.tabela-horizontal-001 li:hover {
	border-color: yellow;
  animation: pulse 2s infinite, magnified 2s 1;
}

.tabela-horizontal-001 li:active {
	border-color: #088C19;
}

.tabela-vertical{
  display: inline;
}

/* ---------------------------------------------------------------------- ids */



/* --------------------------------------------------------------------- tags */
